<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mordeccai.quickcam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />
        <activity
            android:name=".activities.BaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />
        <activity
            android:name=".activities.product.ProductActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />
        <activity
            android:name=".activities.view_product.ViewProductActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />
        <activity android:name=".activities.intro.IntroActivity"></activity>
    </application>

</manifest>